APP_ENV=dev
APP_SECRET=your-app-secret-here
DATABASE_URL=postgresql://product_user:product_secret@postgresql:5432/product_db
REDIS_URL=redis://redis:6379
ELASTICSEARCH_HOST=http://elastic:elastic_secret@elasticsearch:9200
KAFKA_BROKER=kafka:9092
KAFKA_DSN=ed+kafka://kafka:9092
AUTH_SERVICE_URL=http://auth-service:8080
SENTRY_DSN=
